# Sadhna Ayurveda Environment Variables Template
PORT=8080
GOOGLE_CLIENT_ID=439824053286-pvb6vo9dggccn2dhsqbk91a72ru77qs4.apps.googleusercontent.com
ALLOWED_ORIGINS=http://localhost:8080,https://sadhnaayurveda.com
